{% block role_permissions_widget %}
{% set tree_id = id~'-container' %}
<script>
    $(document).ready(function () {
        var checkboxes, checkSiblings;
        checkSiblings = function (el, checked) {
            var parent = el.parent().parent(),
                    all = true;

            el.siblings().each(function () {
                return all = ($(this).children('input[type="checkbox"]').prop("checked") === checked);
            });

            if (all && checked) {
                parent.children('input[type="checkbox"]').prop({
                    indeterminate:false,
                    checked:checked
                });
                checkSiblings(parent);
            } else if (all && !checked) {
                parent.children('input[type="checkbox"]').prop("checked", checked);
                parent.children('input[type="checkbox"]').prop("indeterminate", (parent.find('input[type="checkbox"]:checked').length > 0));
                checkSiblings(parent);
            } else {
                el.parents("li").children('input[type="checkbox"]').prop({
                    indeterminate:true,
                    checked:false
                });
            }
        };
        checkboxes = $('#{{tree_id}} input[type="checkbox"]');
        checkboxes.change(function (e) {
            var checked = $(this).prop("checked"),
                    container = $(this).parent(),
                    siblings = container.siblings();
            console.log(container);
            console.log(siblings);
            container.find('input[type="checkbox"]').prop({
                indeterminate:false,
                checked:checked
            });
            checkSiblings(container, checked);
        });
        checkboxes.filter(':checked').each(function (i, el) {
            checkSiblings($(el).parent(), true);
        });
    });
</script>
<div id="{{ tree_id }}">
    {{ _self.tree(form, tree, id) }}
</div>
{% endblock %}

{% macro tree(form, nodes, id) %}
{% spaceless %}
<ul {% if id is not empty%}id="{{ id }}" class="well-small" {% endif %}>
    {% for key, node in nodes %}
    <li class="checkbox">
        {{ form_widget(form[node.id]) }}
        {{ form_label(form[node.id]) }}
        {% if node.__children is not empty %}
        {{ _self.tree(form, node.__children) }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endmacro %}